# API creation

In [27]:
import os
hello_world_script_fie=os.path.join(os.path.pardir,'src','models','hello_world_api.py')

In [28]:
%%writefile $hello_world_script_fie

from flask import Flask,request

app=Flask(__name__)
@app.route('/api',methods=['POST'])

def say_hello():
    data=request.get_json(force=True)
    name=data['name']
    return "Hello {0}".format(name)

if __name__=='__main__':
    app.run(port=10001,debug=True)

Overwriting ..\src\models\hello_world_api.py

In [29]:
#run api in gitbash using python hello_world_api.py in folder in which it resides

In [104]:
import json
import requests

In [105]:
url='http://127.0.0.1:10001/api'
data=json.dumps({'name':'sunny'})
r=requests.post(url,data)

In [106]:
print(r.text)

Hello sunny

## Machine learning api using flask

### Building API

In [176]:
machine_learning_api_script_file=os.path.join(os.path.pardir,'src','models','titanic_api1.py')

In [228]:
%%writefile $machine_learning_api_script_file

from flask import Flask,request
import pickle
import numpy as np
import pandas as pd
import os
import json

app=Flask(__name__)


#load modal and scaler files
model_path=os.path.join(os.path.pardir,os.path.pardir,'models')
model_file_path=os.path.join(model_path,'model1.pkl')
scaler_file_path=os.path.join(model_path,'scaler1.pkl')

# model = pickle.load(f)

#with open(scaler_file_path, 'rb') as f:
#    scaler = pickle.load(f)
model=pickle.load(open(model_file_path,'rb'))
   

columns=[u'Age', u'Fare', u'FamilySize', u'IsMother', u'Ismale', u'Deck_A',\
       u'Deck_B', u'Deck_C', u'Deck_D', u'Deck_E', u'Deck_F', u'Deck_G', u'Deck_Z',\
       u'Pclass_1', u'Pclass_2', u'Pclass_3', u'Title_Lady', u'Title_Master',\
       u'Title_Miss', u'Title_Mr', u'Title_Mrs', u'Title_Officer', u'Title_Sir',\
       u'Fare_Bin_very_low', u'Fare_Bin_low', u'Fare_Bin_high',\
       u'Fare_Bin_very_high', u'Embarked_C', u'Embarked_Q', u'Embarked_S',\
       u'AgeState_Adult', u'AgeState_Child']

@app.route('/api',methods=['POST'])

def make_prediction():
    #read json and convert into json string
    data1=json.dumps(request.get_json(True))
    #create panda dataframe
    df=pd.read_json(data1)
    #extract passengerIds
    passenger_ids=df['PassengerId'].ravel()
    #actual survived values
    actuals=df['Survived'].ravel()
    #extract required columns and convert to matrix
    X=df[columns].as_matrix().astype('float')
    #transform the input
    #X_scaled=scaler.transform(X)
    #make predictions
    predictions=model.predict(X)
    #create response dataframe
    df_response=pd.DataFrame({'PassengerId':passenger_ids,'Predicted':predictions,'Actuals':actuals})
    #return json
    return df_response.to_json()

if __name__=='__main__':
    #host flask app at port 10001
    app.run(port=10002,debug=True)

Overwriting ..\src\models\titanic_api1.py

## Invoke api using request

In [167]:
import os
import pandas as pd
test_data_set_path=os.path.join(os.path.pardir,'data','processed')
test_data_file=os.path.join(test_data_set_path,'train.csv')
train_df=pd.read_csv(test_data_file)
type(train_df)

pandas.core.frame.DataFrame

In [168]:
import numpy as np
test_data=train_df[train_df['Survived']==1][:5]

In [233]:
import requests
def make_api_request(data):
    #url
    url='http://127.0.0.1:10002/api'
    #post req
    r=requests.post(url,data)
    return r.json()

In [234]:
output=make_api_request(test_data.to_json())
print(output)

{'Actuals': {'0': 1, '1': 1, '2': 1, '3': 1, '4': 1}, 'PassengerId': {'0': 2, '1': 3, '2': 4, '3': 9, '4': 10}, 'Predicted': {'0': 1, '1': 1, '2': 1, '3': 1, '4': 1}}

In [236]:
import io
output1=make_api_request(train_df.to_json())
df_result=pd.read_json(json.dumps(output1))
df_result
#res=pd.read_csv(output1.text)
#res.head()
#output1
#urlData = requests.get(url).content
#rawData = pd.read_csv(io.StringIO(output1.decode('utf-8')))
#rawData.head()

     Actuals  PassengerId  Predicted
0          0            1          0
1          1            2          1
10         1          108          0
100        0          190          0
101        1           20          1
102        1          191          1
103        0          192          0
104        1          193          1
105        1          194          1
106        1          195          1
107        1          196          1
108        0          197          0
109        0          198          0
11         0          109          0
110        1          199          1
111        0          200          1
112        1            3          1
113        0           21          0
114        0          201          0
115        0          202          0
116        0          203          0
117        0          204          0
118        1          205          0
119        0          206          1
12         1          110          1
120        0          207          0
121        1          208          0
122        1          209          1
123        1          210          0
124        1           22          0
..       ...          ...        ...
874        0          887          0
875        1          888          1
876        0          889          0
877        1          890          0
878        0           90          0
879        0          891          0
88         0          179          0
880        1           10          1
881        0           91          0
882        0           92          0
883        0           93          0
884        0           94          0
885        0           95          0
886        0           96          0
887        0           97          0
888        1           98          1
889        1           99          1
89         0          180          0
890        0          100          0
9          1          107          1
90         0           19          1
91         0          181          0
92         0          182          0
93         0          183          0
94         1          184          1
95         1          185          1
96         0          186          0
97         1          187          1
98         1          188          0
99         0          189          0

[891 rows x 3 columns]

In [237]:
import numpy as np
np.mean(df_result.Actuals==df_result.Predicted)

0.8372615039281706